<header>
  <nav style="display: flex; align-items: center; padding: 1rem; background: #9c9c9c;">
    <div style="display: flex; gap: 1rem;">
      <% if (user) { %>
        <span>Logged in as <strong><%= user.email %></strong></span>
        <a href="/urls">My URLs</a>
        <a href="/urls/new">Create New URL</a>
      <% } %>
    </div>

    <div style="margin-left: auto;">
      <% if (user) { %>
        <form method="POST" action="/logout" style="display:inline;">
          <button type="submit" style="cursor: pointer;">Logout</button>
        </form>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
    </div>
  </nav>
</header>
