<% if (username) { %>
  <span class="navbar-text text-white mr-3">Logged in as: <%= username %></span>
  <form method="POST" action="/logout" class="form-inline" style="display:inline;">
    <button class="btn btn-light" type="submit">Logout</button>
  </form>
<% } else { %>
  <form method="POST" action="/login" class="form-inline">
    <input class="form-control mr-2" type="text" name="username" placeholder="Username" required>
    <button class="btn btn-light" type="submit">Login</button>
  </form>
<% } %>