<% if (user) { %>
  <span class="navbar-text text-white mr-3">Logged in as: <%= user.email %></span>
  <form method="POST" action="/logout" class="form-inline" style="display:inline;">
    <button class="btn btn-light" type="submit">Logout</button>
  </form>
<% } else { %>
  <a class="btn btn-light mr-2" href="/login">Login</a>
  <a class="btn btn-light" href="/register">Register</a>
<% } %>