<header>
  <% if (username) { %>
    <p>Logged in as: <%= username %></p>
  <% } else { %>
    <p>Not logged in</p>
  <% } %>
</header>

<h2>My URLs</h2>
<ul>
  <% for (let shortURL in urls) { %>
    <li>
      <%= shortURL %>: <%= urls[shortURL] %>
    </li>
  <% } %>
</ul>